{% extends 'body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div>
        <nav class="row align-items-end user-select-none">
            <div class="justify-content-start col-sm-12 col-lg-4">
                <img src="{% if business.img_principal %} {{ business.img_principal.url }} {% else %} {% static logo %} {% endif %}"
                     class="" alt="gaia" height="100">
            </div>
            <div class="nav nav-tabs justify-content-center col-sm-12 col-lg-8 border-bottom-0" id="nav-tab"
                 role="tablist">
                <button class="nav-link text-semi-success active" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">HOME
                </button>
                <button class="nav-link text-semi-success" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">PRODUCTOS
                </button>
                <button class="nav-link text-semi-success align-text-bottom" id="nav-contact-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">MI CARRITO
                </button>
                <div class="ms-auto">
                    <button class="btn btn-outline-success btn-sm rounded-pill">$0.00 / 0 items</button>
                    <button class="btn btn-outline-success btn-sm rounded-pill"><i class="mdi mdi-heart"></i></button>
                </div>
            </div>
        </nav>
        <br>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                 tabindex="0">
                <div class="row user-select-none">
                    <div class="col-md-12 col-lg-8 ">
                        <div class="p-5 user-select-none bg-semi-success">
                            <h4 class="text-uppercase text-white">¡La alimentación sana es tu opción!</h4>
                            <h1 class="text-uppercase text-white display-4 m-0" style="font-weight: bold">Nuestros</h1>
                            <h1 class="text-uppercase text-white display-4 m-0" style="font-weight: bold">productos</h1>
                            <p class="text-white fs-5">Alimentos escogidos con amor, garantizando la producción local.
                                Productos orgánicos frescos, verduras,frutas, carnes, lácteos, pescados y más...</p>
                            <a href="#" class="btn bg-orange rounded-0 btn-sm fs-6"><b>VER CATÁLOGO</b></a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 ">
                        <div class="row pt-2 px-3 ps-lg-0 pt-lg-0">
                            {% for prod in products4 %}
                                <div class="col-6 col-md-3 col-lg-6 p-0">
                                    <div class="card rounded-0 border-0">
                                        <a href="#">
                                            <img src="{{ prod.image.url }}" class="card-img-top rounded-0 border-0 algo"
                                                 alt="..." name="{{ prod.id }}" data-bs-toggle="modal" data-bs-target="#product_modal">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                ...
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                ...
            </div>
            {% comment %}        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
            ...
        </div>{% endcomment %}
        </div>
    </div>
    <br>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 user-select-none">
        {% for category in categories %}
            <div class="col">
                <a href="#" class="text-decoration-none">
                    <div class="card rounded-0 border-0 agrandar">
                        <div class="card-header text-uppercase text-center fs-4 border-0
                        {% if forloop.first %} bg-success {% elif forloop.counter == 2 %} bg-orange
                         {% elif forloop.counter == 3 %} bg-warning {% elif forloop.last %} bg-semi-success
                         {% endif %} rounded-0 fw-bold text-white">
                            {{ category.name }}
                        </div>
                        <img src="{{ category.get_image }}" class="card-img-bottom rounded-0" alt="...">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <br>
    <h1 class="text-center text-semi-success text-uppercase display-5 fw-bold user-select-none">¿Por qué comprar con
        nosotros?</h1>
    {% comment %}    <div class="card text-bg-dark rounded-0 border-0">
        <img src="{% if business.banner %} {{ business.banner.url }} {% else %}{% static banner %} {% endif %}"
             class="card-img rounded-0 border-0" alt="Banner">
    </div>{% endcomment %}
    {% include 'carousel.html' %}
    <br>
    <div class="row row-cols-1 row-cols-sm-3 g-4">
        <div class="col text-center text-success">
            <h5 class="mb-0">Apoyamos a nuestros productos locales</h5>
            <span class="fs-6">Nuestro principal objetivo es apoyar a nuestros productos locales, incentivar la producción y
                buscar el camino hacia la agroecología!!!</span>
        </div>
        <div class="col text-center text-semi-success">
            <h5 class="mb-0">Atención personalizada</h5>
            <span class="fs-6">Comprar con nosotros será fácil, rápido y según tus necesidades.</span>
        </div>
        <div class="col text-center text-orange">
            <h5 class="mb-0">Alimentación saludable</h5>
            <span class="fs-6">Buscamos los mejores productos del mercado que sean exclusivos, variados y saludables.</span>
        </div>
    </div>
    <br>
    <h1 class="text-center text-semi-success text-uppercase display-5 fw-bold user-select-none">Productos
        destacados</h1>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 div-card-product">
        {% for prod in products_destacados %}
            <div class="col">
                <div class="card rounded-0 border-0 h-100 pb-3 agrandar">
                    <a href="{{ prod.image.url }}"><img src="{{ prod.image.url }}"
                                                        class="card-img-top rounded-0 border-0" alt="..."></a>
                    <div class="card-body text-success bg-light-success text-center pb-0">
                        <h5 class="card-title text-center truncate-2 mb-0">{{ prod.name }}</h5>
                        <p class="card-text truncate-1 mb-0">{{ prod.price }} cup</p>
                        <div class="truncate-2">
                            {{ prod.info_tag }}
                        </div>
                    </div>
                    <div class="card-footer text-center bg-light-success rounded-0 border-0 pb-3">
                        <button class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill">COMPRAR</button>
                        <button type="button" class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill"
                                data-bs-toggle="modal" data-bs-target="#product_modal" name="{{ prod.id }}">VER
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <h1 class="text-center text-semi-success text-uppercase display-5 fw-bold user-select-none">Productos
        con descuento</h1>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 div-card-product">
        {% for prod in products_descuento %}
            <div class="col">
                <div class="card rounded-0 border-0 h-100 pb-3 agrandar">
                    <a href="{{ prod.image.url }}"><img src="{{ prod.image.url }}"
                                                        class="card-img-top rounded-0 border-0" alt="..."></a>
                    <div class="card-body text-success bg-light-success text-center pb-0">
                        <h5 class="card-title text-center truncate-2 mb-0">{{ prod.name }}</h5>
                        <p class="card-text truncate-1 mb-0 text-decoration-line-through">{{ prod.old_price }} cup</p>
                        <p class="card-text truncate-1 mb-0">{{ prod.price }} cup</p>
                        <div class="truncate-2">
                            {{ prod.info_tag }}
                        </div>
                    </div>
                    <div class="card-footer text-center bg-light-success rounded-0 border-0 pb-3">
                        <button class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill">COMPRAR</button>
                        <button type="button" class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill"
                                data-bs-toggle="modal" data-bs-target="#product_modal" name="{{ prod.id }}">VER
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <h1 class="text-center text-semi-success text-uppercase display-5 fw-bold user-select-none">Nuevos
        productos</h1>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 div-card-product">
        {% for prod in products_nuevos %}
            <div class="col">
                <div class="card rounded-0 border-0 h-100 pb-3 agrandar">
                    <a href="{{ prod.image.url }}"><img src="{{ prod.image.url }}"
                                                        class="card-img-top rounded-0 border-0" alt="..."></a>
                    <div class="card-body text-success bg-light-success text-center pb-0">
                        <h5 class="card-title text-center truncate-2 mb-0">{{ prod.name }}</h5>
                        <p class="card-text truncate-1 mb-0">{{ prod.price }} cup</p>
                        <div class="truncate-2">
                            {{ prod.info_tag }}
                        </div>
                    </div>
                    <div class="card-footer text-center bg-light-success rounded-0 border-0 pb-3">
                        <button class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill">COMPRAR</button>
                        <button type="button" class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill"
                                data-bs-toggle="modal" data-bs-target="#product_modal" name="{{ prod.id }}">VER
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% comment %}    <style>
        .div-card-product .card {
            min-width: 250px;
            margin-right: 15px;
        }
    </style>
    <div class="container-fluid py-2">
        <h2 class="font-weight-light">Bootstrap 5 Horizontal Scrolling Cards with Flexbox</h2>

        <div class="d-flex flex-row flex-nowrap overflow-auto div-card-product">
            {% for prod in products_nuevos %}
                <div class="col">
                    <div class="card rounded-0 border-0 h-100 pb-3 agrandar">
                        <a href="{{ prod.image.url }}"><img src="{{ prod.image.url }}"
                                                            class="card-img-top rounded-0 border-0" alt="..."></a>
                        <div class="card-body text-success bg-light-success text-center pb-0">
                            <h5 class="card-title text-center truncate-2 mb-0">{{ prod.name }}</h5>
                            <p class="card-text truncate-1 mb-0">{{ prod.price }} cup</p>
                            <div class="truncate-2">
                                {{ prod.info_tag }}
                            </div>
                        </div>
                        <div class="card-footer text-center bg-light-success rounded-0 border-0 pb-3">
                            <button class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill">COMPRAR
                            </button>
                            <button type="button" class="btn btn-success border-0 bg-semi-success btn-sm rounded-pill"
                                    data-bs-toggle="modal" data-bs-target="#product_modal">VER
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>{% endcomment %}
    {% include 'product_modal.html' %}
{% endblock %}
{% block scripts %}
    {% csrf_token %}
    <script>
      document.querySelectorAll('[data-bs-toggle="modal"]').forEach(e => e.addEventListener('click', function () {
        const http = new EasyHTTP;
        const data = {
          action: 'details',
          pk: this.name,
        }
        http.post(location.pathname, data, '{{ csrf_token }}')
          .then(data => console.log(data))
          .catch(err => console.log(err));
      }))

    </script>
{% endblock %}
