{% extends 'body.html' %}
{% load cart_tag %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/button_add_to_cart/style.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}">
{% endblock %}
{% block content %}
    {% block subnavbar %}
        <div>
            <nav class="row align-items-end user-select-none">
                <div class="justify-content-start col-sm-12 col-lg-4">
                    <a href="{{ index_url }}"><img
                            src="{% if business.img_principal %} {{ business.img_principal.url }} {% else %} {% static logo %} {% endif %}"
                            class="" alt="gaia" height="100"></a>
                </div>
                <div class="nav nav-tabs justify-content-center col-sm-12 col-lg-8 border-bottom-0" id="nav-tab"
                     role="tablist">
                    <button class="nav-link text-semi-success {% if active == '1' %} active{% endif %}"
                            id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">HOME
                    </button>
                    <button class="nav-link text-semi-success {% if active == '2' %} active{% endif %}"
                            id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">PRODUCTOS
                    </button>
                    <button class="nav-link text-semi-success align-text-bottom {% if active == '3' %} active{% endif %}"
                            id="nav-contact-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">MI CARRITO
                    </button>
                    <div class="ms-auto">
                        <button class="btn btn-outline-success btn-sm rounded-pill" type="button"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="botoncito-verde">
                            $0.00
                            / {{ products_in_cart|length }} productos
                        </button>
                        {% comment %}<button class="btn btn-outline-success btn-sm rounded-pill"><i
                                class="mdi mdi-heart"></i></button>{% endcomment %}
                    </div>
                </div>
            </nav>
            <br>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade {% if active == '1' %} show active {% endif %}" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab"
                     tabindex="0">
                    {% comment %}       <div class="row user-select-none">
                        <div class="col-md-12 col-lg-8 ">
                            <div class="p-5 user-select-none bg-semi-success">
                                <h4 class="text-uppercase text-white">¡La alimentación sana es tu opción!</h4>
                                <h1 class="text-uppercase text-white display-4 m-0" style="font-weight: bold">
                                    Nuestros</h1>
                                <h1 class="text-uppercase text-white display-4 m-0" style="font-weight: bold">
                                    productos</h1>
                                <p class="text-white fs-5">Alimentos escogidos con amor, garantizando la producción
                                    local.
                                    Productos orgánicos frescos, verduras,frutas, carnes, lácteos, pescados y más...</p>
                                <a href="{% url 'catalogo' %}" class="btn bg-orange rounded-0 btn-sm fs-6"><b>VER CATÁLOGO</b></a>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 ">
                            <div class="row pt-2 px-3 ps-lg-0 pt-lg-0">
                                {% for prod in products4 %}
                                    <div class="col-6 col-md-3 col-lg-6 p-0">
                                        <div class="card rounded-0 border-0 h-100">
                                            <img src="{{ prod.image.url }}"
                                                 class="card-img-top cursor-pointer rounded-0 border-0 algo"
                                                 alt="..." name="{{ prod.id }}" data-bs-toggle="modal"
                                                 data-bs-target="#product_modal">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>{% endcomment %}
                    {% include 'cat_carousel_letricas.html' %}
                    {% include 'products_destacados.html' %}
                    {% include 'products_descuento.html' %}
                    {% include 'products_nuevos.html' %}
                </div>
                <div class="tab-pane fade {% if active == '2' %} show active {% endif %}" id="nav-profile"
                     role="tabpanel" aria-labelledby="nav-profile-tab"
                     tabindex="0">
                    {% include 'products_x_categories.html' %}
                </div>
                <div class="tab-pane fade {% if active == '3' %} show active {% endif %}" id="nav-contact"
                     role="tabpanel" aria-labelledby="nav-contact-tab"
                     tabindex="0">
                    {% block include_cart %}
                        {% include 'cart.html' %}
                    {% endblock %}
                    {% include 'products_destacados.html' %}
                </div>
            </div>
        </div>
    {% endblock %}
    {#    products cards#}

    {#    products cards end#}
    {% include 'product_modal.html' %}
    {% include 'loader.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'lib/button_add_to_cart/script.js' %}"></script>
    <script src="{% static 'lib/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    {% csrf_token %}
    {% block cart_js %}
        {% include 'scripts_cart.html' %}
    {% endblock %}
    <script>
      //Crear suscriptor
      document.querySelector('#suscriptor-form').addEventListener('submit', function (e) {
        e.preventDefault()
        let data = {
          email: document.querySelector('#suscriptor-email').value
        }
        const http = new EasyHTTP
        http.post('suscriptor_create/', data, '{{ csrf_token }}')
          .then(data => {
            console.log(data)
            if (!data.hasOwnProperty('error')) {
              Alerta(`Suscripción creada`)
              {#location.replace(data['url'])#}
              location.reload()
            } else {
              console.log(data)
              Swal.fire({
                title: 'Error',
                text: data['error'],
                icon: 'error'
              })
            }
          })
          .catch(err => {
            console.error(err)
            Swal.fire({
              title: 'Error',
              text: 'Hay un problema de conexión con el servidor.',
              icon: 'error'
            })
          });
      })
      try {
        document.querySelector("#select-trampa").addEventListener('change', function (e) {
          let moneda = this.options[this.options.selectedIndex].value
          {#location.replace(`/index/${moneda}`)#}
          if (moneda === 'CUP')
            location.replace('{% url "index-cup" %}')
          else
            location.replace('{% url "index-euro" %}')
        })
      } catch (e) {
        console.log(e)
      }
      try {
        document.querySelector('#select-info').addEventListener('change', function (e) {
          let id = this.value
          location.replace(`{% url 'info' %}#${id}`)
        })
      } catch (e) {
        console.log(e)
      }

    </script>
{% endblock %}
