{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body class="">
    <A Href="#" Id="C-Go-Top" Class="C-Go-Top">
        &nbsp;<I Class="mdi mdi-arrow-up-bold "></I>&nbsp;
    </A>
    <div class="wrapper mx-auto" style="width: 90%">
        {% block navbar %}
            <!-- Navbar -->
            {% include 'navbar.html' %}
        {% endblock %}
        <!-- Content -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'whatsapp.html' %}
    {% include 'footer.html' %}
    </body>
    {% block include_cart_lateral %}
        {% include 'sidebar_right.html' %}
    {% endblock %}
{% endblock %}