{% extends 'base.html' %}
{% load static %}
{% block body %}
    <body class="">
    <div class="wrapper mx-auto" style="width: 90%">
        {% block navbar %}
            <!-- Navbar -->
            {% include 'navbar.html' %}
        {% endblock %}
        <!-- Content -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    </body>

{% endblock %}