{% extends 'base.html' %}
{% load static %}
{% block body %}
    <script>window.rwbp = {email: 'gveitia95@gmail.com', phone: '+5358496023', message: 'Hola', lang: 'es'}</script>
    <script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'></script>
    <body class="">
    <div class="wrapper mx-auto" style="width: 90%">
        {% block navbar %}
            <!-- Navbar -->
            {% include 'navbar.html' %}
        {% endblock %}
        <!-- Content -->
        <div class="content">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    </body>

{% endblock %}