<div class="col py-2">
    <div class="card shadow-sm h-100 pb-3 agrandar">
        <img src="{{ prod.image.url }}"
             class="card-img-top rounded-0 border-0" alt="...">
        <div class="card-body text-success  text-center pb-0">
            <h5 class="card-title text-center truncate-2 mb-0">{{ prod.name }}</h5>
            {% if prod.old_price %}
                <p class="card-text truncate-1 mb-0 text-decoration-line-through">{{ prod.get_old_price | floatformat:2 }} {{ tipo_moneda }}</p>
            {% endif %}
            <p class="card-text truncate-1 mb-0 fw-bold">{{ prod.get_price | floatformat:2 }} {{ tipo_moneda }}</p>
            <div class="truncate-2">
                {{ prod.info_tag|safe|truncatewords_html:10 }}
            </div>
        </div>
        <div class="card-footer text-center bg-white rounded-0 border-0">
            {% if prod.stock > 0 %}
                <button class="btn btn-sm btn-success bg-semi-success add_to_cart rounded-pill mb-1" name="{{ prod.id }}">
                    <i class="mdi mdi-cart-plus"></i>COMPRAR
                </button>
            {% else %}
                <span class="badge py-2 fs-6 fw-normal rounded-pill bg-secondary"><i
                        class="mdi mdi-cancel"></i> AGOTADO</span>
            {% endif %}
            <button type="button" class="btn btn-success border-0 mb-1 bg-semi-success btn-sm rounded-pill"
                    data-bs-toggle="modal" data-bs-target="#product_modal" name="{{ prod.id }}">
                <i class="mdi mdi-magnify-plus-outline"></i> VER
            </button>
        </div>
    </div>
</div>
