<div class="col">
    <div class="card rounded-0 border-0 h-100 pb-3 agrandar">
        <img src="{{ prod.image.url }}"
             class="card-img-top rounded-0 border-0" alt="...">
        <div class="card-body text-success bg-light-success text-center pb-0">
            <h5 class="card-title text-center truncate-2 mb-0">{{ prod.name }}</h5>
            {% if prod.old_price %}
                <p class="card-text truncate-1 mb-0 text-decoration-line-through">{{ prod.get_old_price | floatformat:2 }} {{ tipo_moneda }}</p>
            {% endif %}
            <p class="card-text truncate-1 mb-0 fw-bold">{{ prod.get_price | floatformat:2 }} {{ tipo_moneda }}</p>
            <div class="truncate-2">
                {{ prod.info_tag }}
            </div>
        </div>
        <div class="card-footer text-center bg-light-success rounded-0 border-0 pb-3">
            <Button Class="Button add_to_cart btn btn-success mb-1" name="{{ prod.id }}">
                <Span>COMPRAR</Span>
                <div Class="Cart">
                    <Svg ViewBox="0 0 36 26">
                        <Polyline Points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></Polyline>
                        <Polyline Points="15 13.5 17 15.5 22 10.5"></Polyline>
                    </Svg>
                </div>
            </Button>
            <button type="button" class="btn btn-success border-0 mb-1 bg-semi-success btn-sm rounded-pill"
                    data-bs-toggle="modal" data-bs-target="#product_modal" name="{{ prod.id }}">
                <i class="mdi mdi-magnify-plus-outline"></i> VER
            </button>
        </div>
    </div>
</div>
