{% load static %}
<footer class="bd-footer mt-5 bg-semi-success">
    <div class="mx-auto py-3 w-75 px-md-5 px-0">
        <h1 class="text-center text-white text-uppercase display-5 fw-bold user-select-none">suscríbete</h1>
        <h2 class="text-white text-center ">Entérate de todas nuestras novedades y ofertas</h2>
        <form action="{% url 'suscriptor' %}" method="post" id="suscriptor-form">
            {% csrf_token %}
            <input type="hidden" name="action" value="suscriptor">
            <div class="input-group mb-3">
                <input type="email" name="email" class="form-control rounded-0" placeholder="Escriba su correo"
                       aria-label="Recipient's username" required aria-describedby="button-addon2"
                       id="suscriptor-email">
                <button class="btn bg-orange rounded-0" type="submit" id="button-addon2"><i
                        class="mdi mdi-arrow-right-bold"></i>
                </button>
            </div>
        </form>
    </div>
</footer>

<footer class="bd-footer mt-3 bg-orange footer-2">
    <div class="container pt-3">
        <div class="row justify-content-center text-center">
            {% if catalogo_url %}
                <div class="col-6 col-md-3 mb-3">
                    <h5 onclick="goToCat('todos')">CATEGORÍAS</h5>
                    <ul class="list-unstyled">
                        {% for category in categories %}
                            <li class="mb-2"><a style="cursor: pointer" onclick="goToCat({{ category.id }})"
                                                class="text-decoration-none text-white">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="col-6 col-md-3  mb-3">
                <a href="{% url 'info' %}" class="text-decoration-none text-white"><h5>SOBRE NOSOTROS</h5></a>
                <ul class="list-unstyled">
                    {% for info in infoUtil_list %}
                        {% if info.contenidoinfo_set.exists %}
                            <li class="mb-2"><a href="{% url 'info' %}#{{ info.id }}"
                                                class="text-decoration-none text-white">{{ info.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6 col-md-3  mb-3">
                <h5>CONTACTO</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="tel:{{ business.phone_number }}"
                                        class="text-decoration-none text-white">{{ business.phone_number }}</a>
                    </li>
                    <li class="mb-2"><a href="mailto:{{ business.email }}"
                                        class="text-decoration-none text-white">{{ business.email }}</a></li>
                    <li class="mb-2"><a href="{{ business.enterprise_address }}"
                                        class="text-decoration-none text-white">{{ business.enterprise_address }}</a>
                    </li>

                </ul>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <h5>SÍGUENOS</h5>
                <div>
                    <a href="{{ business.instagram }}"><i class="mdi mdi-instagram mdi-48px text-white"></i></a>
                    <a href="{{ business.facebook }}"><i class="mdi mdi-facebook mdi-48px text-white"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function goToCat(id) {
            $('#nav-home').removeClass('active')
            $('#nav-contact').removeClass('active')
            $('#nav-home').removeClass('show')
            $('#nav-contact').removeClass('show')
            $('#nav-home-tab').removeClass('active')
            $('#nav-contact-tab').removeClass('active')
            $('#nav-profile').addClass('active')
            $('#nav-profile-tab').addClass('active')
            $('#nav-profile').addClass('show')
            if (id != 'todos') {
                $('#todos').removeClass('success')
                $('#todos').addClass('bg-semi-success')
            } else {
                $('#todos').addClass('success')
            }
            if (id != 'todos') {
                {% for category in categories %}
                    $('#cat{{ category.id }}').removeClass('success')
                    $('#cat{{ category.id }}').addClass('bg-semi-success')
                    $('#collapse{{ category.id }}').hide()
                {% endfor %}
                $('#cat' + parseInt(id)).addClass('success')
                $('#cat' + parseInt(id)).removeClass('bg-semi-success')
                $('#collapse' + parseInt(id)).show()
            }
            let Offset = 100;
            let Duration = 500;
            $('Html, Body').animate({
                scrollTop: 0
            }, Duration);
        }
    </script>
</footer>