{% load cart_tag %}
<form action="" method="post" class="mx-auto w-75 my-3">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h3 CLASS="text-center card-text text-success">Inserte sus datos para comprar</h3>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" required id="id_name_comprador" name="comprador"
                       placeholder="Nombre y apellidos del comprador">
                <label for="id_name_comprador">Nombre y apellidos del comprador</label>
            </div>
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" required id="id_phone_comprador" name="phone_comprador"
                       placeholder="+53999999999">
                <label for="id_phone_comprador">Teléfono del comprador</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" required id="id_name_receptor" name="receptor"
                       placeholder="Apellidos">
                <label for="id_name_receptor">Nombre y apellidos del que recibe</label>
            </div>
            {% comment %}            <div class="form-floating mb-3">
                <input type="email" class="form-control" required id="id_email" name="email"
                       placeholder="name@example.com">
                <label for="id_email">Correo electrónico</label>
            </div>{% endcomment %}
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" required id="id_phone_receptor" name="phone_receptor"
                       placeholder="+53999999999">
                <label for="id_phone_receptor">Teléfono del que recibe</label>
            </div>
            <div class="mb-3">
                <select class="form-select" required aria-label="Default select example" name="municipio">
                    <option selected disabled>Selecciona el lugar de entrega</option>
                    {% for address in address %}
                        <option value="{% if is_euro %}{{ address.precio_euro }}{% else %}{{ address.precio }}{% endif %}"
                                name="{{ address.id }}">{{ address.nombre }}: ---------{% if is_euro %}€
                            {{ address.precio_euro |floatformat:2 }}{% else %}$
                            {{ address.precio }}{% endif %}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" required id="id_address" name="address"
                       placeholder="Dirección">
                <label for="id_address">Detalles de la dirección</label>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-success rounded-pill"><i class="mdi mdi-credit-card"></i>Comprar
            </button>
        </div>
    </div>
</form>
