{% load static %}
<nav class="navbar bg-semi-success"></nav>
<nav class="navbar bg-white navbar-expand-sm">
    <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
            <div class="nav-link">
                <form action="">
                    <div class="input-group input-group-sm">
                        <button class="btn border-0" type="submit" id="button-addon1"><i
                                class="mdi mdi-magnify text-semi-success"></i></button>
                        <input type="search" class="form-control border-0 ps-0 rounded-0" placeholder="Buscador"
                               aria-label="Example text with button addon"
                               aria-describedby="button-addon1">
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-semi-success {% if active == 'project' %} active {% endif %}"
               href="#"><i class=""></i>Quiénes somos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-semi-success {% if active == 'project' %} active {% endif %}"
               href="#"><i class="mdi mdi-translate"></i> Idioma</a>
        </li>
    </ul>
</nav>
<!-- Menu lateral -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
     style="width: 230px">
    <div class="offcanvas-header">
        {#        <h5 class="offcanvas-title" id="offcanvasExampleLabel">CESIM</h5>#}
        <a href=""><img src="{% static 'img/login.png' %}" alt=""></a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
        <ul class="list-unstyled ps-0">
            <li class="border-top mb-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                    Proyectos
                </button>
                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="" class="link-dark rounded">Listado de activos</a>
                        </li>
                        <li><a href="" class="link-dark rounded">Listado de
                            cerrados</a></li>
                        <li><a href="" class="link-dark rounded">Crear nuevo</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Miembros
                </button>
                <div class="collapse" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="" class="link-dark rounded">Listado</a></li>
                        <li><a href="" class="link-dark rounded">Crear nuevo</a></li>
                    </ul>
                </div>
            </li>
            {% if show_navbar %}
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#asd{{ object.id }}" aria-expanded="false">
                        {{ object.abreviacion }}
                    </button>
                    <div class="collapse" id="asd{{ object.id }}" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="" target="_blank"
                                   class="link-dark rounded">Salarios - Anexo 3</a></li>
                            {% if details %}
                                <li><a href="" target="_blank"
                                       class="link-dark rounded">Evaluación de indicadores</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#certificacion-collapse" aria-expanded="false">
                        Certificación
                    </button>
                    <div class="collapse" id="certificacion-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            {% for periodo in periodo_list %}
                                <li>
                                    <a href=""
                                       class="link-dark rounded">{{ periodo.get_start_date }}-- {{ periodo.get_end_date }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </li>
            {% endif %}
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#periodo-collapse" aria-expanded="false">
                    Documentación
                </button>
                <div class="collapse" id="periodo-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="{% if document_url %}{{ document_url }}{% else %}{% endif %}"
                               class="link-dark rounded" target="_blank">Listado</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3 "></li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                    Usuarios
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/admin/user/user/" target="_blank" class="link-dark rounded">Listado</a></li>
                        <li><a href="/admin/user/user/add/" target="_blank" class="link-dark rounded">Nuevo</a></li>
                        {#                        <li><a href="#" class="link-dark rounded">Settings</a></li>#}
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'admin:logout' %}" class="link-dark rounded">Cerrar sesión</a></li>
                        {% else %}
                            <li><a href="{% url 'admin:login' %}" class="link-dark rounded">Iniciar sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>