{% load static %}
<nav class="navbar bg-semi-success"></nav>
<nav class="navbar bg-white navbar-expand-sm sticky-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <div class="nav-link">
                <span id="on-off" class="fs-6 rounded-pill"></span>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
            <div class="nav-link">
                <form action="">
                    <div class="input-group input-group-sm pe-2">
                        <input type="search" class="form-control border-0 ps-0 rounded-0"
                               placeholder="Buscador" value="{{ search }}"
                               aria-label="Example text with button addon"
                               aria-describedby="button-addon1" name="search">
                        <button class="btn border-0" type="submit" id="button-addon1"><i
                                class="mdi mdi-magnify text-semi-success"></i></button>
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-semi-success pe-2 text-end {% if active == 'project' %} active {% endif %}"
               href="{% url 'info' %}"><i class=""></i>Quiénes somos</a>
        </li>
        <li class="nav-item">
            <select id="select-trampa"
                    class="form-select custom-select h-100 pt-0 text-end border-0 rounded-0 pe-5 text-semi-success">
                <option {% if moneda != 'Euro' %} selected {% endif %} value="CUP">Productos en CUP</option>
                <option {% if moneda == 'Euro' %} selected {% endif %} value="Euro">Productos en Euro</option>
            </select>
        </li>
        {#        <li class="nav-item">#}
        {#            <a class="nav-link text-semi-success pe-2 text-end {% if active == 'project' %} active {% endif %}"#}
        {#               href="#"><i class="mdi mdi-translate"></i> Idioma</a>#}
        {#        </li>#}
    </ul>
</nav>
