<!-- Modal -->
<div class="modal fade" id="product_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-success border-bottom-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles del producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="close-modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light-success">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-success" id="my-loader" style="width: 3rem; height: 3rem;"
                         role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="response d-none" id="response">
                    {#                    <p>....</p>#}
                    <div class="img-fluid imgProdDetails" id="img-modal"
                         style="background: url('{{ first.image.url }}')"></div>
                    <div class="card rounded-0 border-0 h-100">
                        {% comment %}               <img src="{{ first.image.url }}" id="img-modal"
                             class="card-img-top rounded-0 border-0" alt="...">{% endcomment %}
                        <div class="card-body text-success bg-light-success pb-0">
                            <h5 class="card-title text-center mb-0" id="name-modal">{{ first.name }}</h5>
                            <p class="card-text mb-0" id="cat-modal">{{ first.price }}</p>
                            <p class="card-text mb-0 fw-bold" id="price-modal">{{ first.price }} cup</p>
                            <p class="card-text mb-0" id="delivery-modal"></p>
                            <div class="card-text mb-0" id="info-modal"></div>
                            <div class="card-text mb-0" id="about-modal"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light-success">
                <input type="text" class="text-center bg-light-success text-success fw-bold border-success" accept="*/d" id="input-touchspin" value="1">
                {#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
                <button type="submit" class="btn btn-success bg-semi-success rounded-pill d-inline">
                    <i class="mdi mdi-cart-plus"></i>COMPRAR
                </button>
            </div>
        </div>
    </div>
</div>