<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel"><i class="mdi mdi-cart"></i>Carrito de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% load cart_tag %}
        <div class="container-fluid py-2">
            <hr class="mt-0">
            <div class="">
                {% csrf_token %}
                {% for p in products_in_cart %}
                    <div class="card w-100 shadow-none border-0 border-bottom rounded-0 card-s-cart mb-3">
                        <div class="row no-gutters">
                            <input type="hidden" value="{{ p.product.price | multiply:p.quantity }}">
                            <div class=" col-2 my-auto px-0">
                                <img class="card-img rounded-0" src="{{ p.product.image }}"
                                     alt="Suresh Dasari Card">
                            </div>
                            <div class=" col-8">
                                <div class="card-body px-0 pt-1">
                                    <h6 class="">{{ p.product.name }}</h6>
                                    {#                                    <span class="card-title truncate-2">{{ p.product.info|safe }}</span>#}
                                    <input type="number" min="1" max="{{ p.product.stock }}"
                                           class="form-control d-inline-block text-center form-control-sm input-cantidad"
                                           placeholder="cantidad" value="{{ p.quantity }}"
                                           style="width: 85px" id="p{{ p.product.id }}">
                                    {% comment %}                                    <button class="btn btn-success btn-sm btn-update rounded-pill"
                                            id="{{ p.product.name }}" name="{{ p.product.id }}">
                                        <i class="mdi mdi-update"></i>
                                    </button>{% endcomment %}
                                    <button class="btn btn-danger btn-sm btn-delete rounded-pill"
                                            id="{{ p.product.name }}" name="{{ p.product.id }}">
                                        <i class="mdi mdi-trash-can-outline"></i>
                                    </button>
                                </div>
                            </div>
                            <div class=" col-2">
                                    <span class="float-end pt-1 span-price text-nowrap">
                                        <b>$ <span
                                                id="span{{ p.product.id }}">{{ p.product.price | multiply:p.quantity }}</span></b></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="">
                    <div class="text-end">
                        <span class="fs-5 pe-1" id="total-price"><b>Total</b> (2 items): <b>$29.97</b></span>
                    </div>
                    <div class="text-center pt-2">
                        <form action="" method="post" name="clear-cart">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger rounded-pill"><i class="mdi-cart-remove mdi"></i>
                                Limpiar carrito
                            </button>
                        </form>
                    </div>
                </div>
                <input type="hidden" value="0" id="total-hidden">
            </div>
            <hr>
            <form action="" method="post" class="my-3">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h5 CLASS="text-center card-text text-success">Inserte sus datos para comprar</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" required id="id_name" name="name" placeholder="Nombre">
                            <label for="id_name">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control"  required id="id_lastname" name="lastname"
                                   placeholder="Apellidos">
                            <label for="id_lastname">Apellidos</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" required id="id_address" name="address"
                                   placeholder="Dirección">
                            <label for="id_address">Dirección</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" required id="id_email" name="email"
                                   placeholder="name@example.com">
                            <label for="id_email">Correo electrónico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" required id="id_phone" name="phone"
                                   placeholder="+53999999999">
                            <label for="id_phone">Teléfono</label>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-success rounded-pill"><i class="mdi mdi-credit-card"></i>Comprar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>