<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel"><i class="mdi mdi-cart"></i>Carrito de compras</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% load cart_tag %}
        <div class="container-fluid py-2">
            <hr class="mt-0">
            <div class="">
                {% csrf_token %}
                {% for p in products_in_cart %}
                    <div id="product-{{ p.id }}" class="card w-100 shadow-none border-0 border-bottom rounded-0 card-s-cart mb-3">
                        <div class="row no-gutters">
                            <input type="hidden"
                                   value="{{ p.product.price |dividir:business.taza_cambio | multiply:p.quantity | floatformat:2 }}">
                            <div class=" col-2 my-auto px-0">
                                <img class="card-img rounded-0" src="{{ p.product.image }}"
                                     alt="{{ p.product.name }}">
                            </div>
                            <div class=" col-8">
                                <div class="card-body px-0 pt-1">
                                    <h6 class="me-2">{{ p.product.name }}</h6>
                                    {#                                    <span class="card-title truncate-2">{{ p.product.info|safe }}</span>#}
                                    <input type="number" min="1" max="{{ p.product.stock }}"
                                           class="form-control d-inline-block text-center form-control-sm input-cantidad"
                                           placeholder="cantidad" value="{{ p.quantity }}"
                                           style="width: 85px" id="product-quantity-{{ p.product.id }}">
                                    <button class="btn btn-danger btn-sm btn-delete rounded-pill"
                                            id="{{ p.product.name }}" name="{{ p.product.id }}">
                                        <i class="mdi mdi-trash-can-outline"></i>
                                    </button>
                                </div>
                            </div>
                            <div class=" col-2">
                                    <span class="float-end pt-1 span-price text-nowrap">
                                        <b>€ <span
                                                id="span{{ p.product.id }}">{{ p.product.price |dividir:business.taza_cambio | multiply:p.quantity | floatformat:'2' }}</span></b></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="">
                    <div class="text-end">
                        <span class="fs-5 pe-1" id="total-price"><b>Total</b> (2 items): <b>€29.97</b></span>
                    </div>
                    <div class="text-center pt-2">
                        <form action="" method="post" name="clear-cart">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger rounded-pill"><i class="mdi-cart-remove mdi"></i>
                                Limpiar carrito
                            </button>
                        </form>
                    </div>
                </div>
                <input type="hidden" value="0" id="total-hidden">
            </div>
            <hr>
            <h6 class="pt-2">El valor del precio total aumentará en {{ business.tropipay_impuesto }}% por las tarifas de
                la pasarela</h6>
            {% include 'form_cart_lateral.html' %}
        </div>
    </div>
</div>